html {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
  }

p {
  margin-top: 2rem !important;
}

ul {
  padding-inline-start: 1rem !important;
}

.MuiInputBase-root {
  margin: 0.5rem 0 0.5rem 0;
  background-color: white;
}

.MuiInputLabel-outlined.Mui-focused {
  color: white !important;

}

input {
  color: white;
}