html {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
  }

p {
  margin-top: 1rem !important;
}

ul {
  padding-inline-start: 1rem !important;
}

.MuiInputBase-root {
  background-color: white;
}

/* .MuiInputLabel-outlined.Mui-focused {
  color: black !important;

} */

input {
  color: white;
}

a.general_link {
  color: #f50057;
}

a.general_link:hover {
  color: #c90060
}