.card {
  cursor: pointer;
  position: absolute;
  border: 0;
  left: 0;
  text-align: center;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: width 0.4s linear, box-shadow 0.05s linear;
  margin: 0 auto;
  position: relative;
  border-radius: 0.5rem;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: all 0.4s linear;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.card_filter {
  position: absolute;
  border-radius: 0.5rem;
  /* content:""; */
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity: 0;
  background: linear-gradient(to right, rgb(255, 255, 255, 0) 0%,rgb(109, 109, 109) 100%);
  transition: opacity 0.4s linear;
}
/* 
.card-main {
  height: 22.5rem;
  width: 16.2rem;
} */

.card-main {
  height: 100%;
  width: 100%;
}

.card-message {
  height: 100%;
  width: 100%;
}

.card-transition-shadow {
  box-shadow: 0 0px 1.5rem 2rem rgba(0, 0, 0, 0.2) !important;
}

.card-transition-flip {
  box-shadow: 1rem 0 0.8rem 0.4rem rgba(0, 0, 0, 0.15), -0.4rem 0 0.8rem 0.4rem rgba(0, 0, 0, 0.15) !important;
}

.card-position {
  height: 60%;
  width: 90%;
  margin: auto;
}

.message-position {
  margin-top: 15%;
  height: 20%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* @media screen and (max-width: 992px){
  .card-position {
    height: 55%;
    width: 90%;
    margin: auto;

  }

  .message-position {
    margin-top: 15%;
    height: 20%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
} */

/* Trying to make it nicer in screens with short width but hight height like iPads  */
/* @media screen and (max-height: 768px){
  .card-position {
    height: 50%;
    width: 90%;
    margin: auto;
  }

  .message-position {
    margin-top: 15%;
    height: 20%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px){
  .card-position {
    height: 50%;
    width: 85%;
    margin: auto;
  }

  .message-position {
    margin-top: 15%;
    height: 20%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
} */